.img-container .survey-img{
    width: 5rem;
    height: 7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.img-container button{
    width: 4.5rem;
    margin-bottom: 1rem;
    font-size: small;
    background-color: #6d824c;
}