.img-flex{
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
    margin-bottom: 0.5rem;
}



.video-res-container{
    border: 1px solid gray;
    padding: 1.5rem;
    border-radius: 1rem;
    height: 88%;
    width: 69%;
    margin-top: 3rem;
    overflow: auto;
    background: cadetblue;
}


.new-img-flex{
    display: flex;
    gap: 12rem;
    margin-bottom: 3rem;
}

.img-flex img{
    width: 10rem;
}

.video-img-from-res p{
    text-align: center;
    margin-bottom: 2.5rem;
}

@media screen and (max-width: 991px) {
    .img-flex img{
        width: 10rem;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }

    .img-flex{
        gap: 8rem;
    }

    .video-img-from-res p{
        margin-left: 0%;
        margin-top: 2rem;
        width: 100%;
    }

    .nav{
        width: 33%;
    }


    .video-img-from-res h1{
        margin-top: -9rem;
        font-size: large;
        color: chartreuse;
    }
    
}

@media screen and (max-width: 780px) {
    .img-flex img{
        width: 8rem;
    }

    .img-flex{
        align-items: center;
        gap: 6rem;
    }

    .nav {
        width: 47%;
    }

    .video-img-from-res p{
        margin-left: 0%;
        margin-top: 2rem;
        width: 100%;
    }

    .video-img-from-res h1{
        margin-top: -9rem;
        font-size: large;
        color: chartreuse;
    }

}

@media screen and (max-width: 480px) {
    .img-flex img{
        width: 5rem;
    }

    .img-flex{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .video-img-from-res p{
        margin-left: 0%;
        width: 100%;
    }

    .video-img-from-res h1{
        margin-top: -9rem;
        font-size: large;
        color: chartreuse;
    }

}