.img-flex{
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
    margin-bottom: 0.5rem;
}

.video-res-container{
    padding: 1.5rem;
    width: 100%;
}

.img-section{
    display: flex;
    height: 12rem;
    width: 100%;
    gap: 11rem;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 4rem;
}

.img-section img{
    border-style: none;
    width: 20%;
}

.img-desc{
    width: 100%;
    height: 100%;
}

.video-img-from-res p{
    text-align: center;
    margin-bottom: 2.5rem;
}

@media screen and (max-width: 991px) {
    .img-flex img{
        width: 10rem;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }

    .img-flex{
        gap: 8rem;
    }

    .video-img-from-res p{
        margin-left: 0%;
        margin-top: 2rem;
        width: 100%;
    }

    .nav{
        width: 33%;
    }

    .img-section{
        gap: 8rem;
    }

    .img-section img {
        width: 46%;
    }

    .video-img-from-res h1{
       
        font-size: x-large;
        color: chartreuse;
    }

    .video-img-from-res {
        width: 60%;
    }
    
}

@media screen and (max-width: 780px) {
    .img-flex img{
        width: 8rem;
    }

    .img-flex{
        align-items: center;
        gap: 6rem;
    }

    .nav {
        width: 39%;
    }

    .video-img-from-res p{
        margin-left: 0%;
        margin-top: 2rem;
        width: 100%;
    }

    .img-section{
        gap: 6rem;
    }

    .img-section img {
        width: 42%;
    }

    .video-img-from-res h1{
       
        font-size: large;
        color: chartreuse;
    }

    .video-img-from-res {
        width: 65%;
    }

}

@media screen and (max-width: 480px) {
    .img-flex img{
        width: 5rem;
    }
    
    .video-img-from-res {
        width: 70%;
    }
    .img-flex{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .video-img-from-res p{
        margin-left: 0%;
        width: 100%;
    }

    .img-section{
        gap: 4rem;
    }

    .img-section img {
        width: 46%;
    }
    .video-img-from-res h1{
   
        font-size: large;
        color: chartreuse;
    }

}