.video-img-form-user-res{
    display: flex;
    width: 100%;
    height: 100%;
}

.video-img-from-res{
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.video-img-from-res h1{
    margin-top: -9rem;
    font-size: x-large;
    color: chartreuse;
}

.video-img-from-res video{
    border-radius: 1rem;
    margin-bottom: 1rem;
}
